<section class="background-index">
<div class="home-wrapper">
  <h1 id="home-title">{{title}}</h1>
  <div class="post-wrapper">
    <div class="random-animal">
      <div class="random-animal-photo" id="random-img">
        <img src="" alt="iberian lynx">
      </div>
      <div class="random-animal-info">
        <h2  id="random-name"><h2>
        <p id="random-text"></p>
      </div>
    </div>

    <div class="post-collection">
      <h2>Últimos posts del foro</h2>
      {{#each postC}}
      <div class="post-preview">
        <div class="post-title">
          <h3><a class="none-decoration" href="/post-detail/{{this._id}}">{{this.title}}</a></h3>
          <span class="index-post-author">por: {{this.authorId.username}}</span>
        </div>
        <img src="{{this.postImg}}" alt="">

      {{/each}}
    </div>
  </div>
</div>
</div>
</section>

<script src="/javascripts/random.js"></script>