<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{#unless user}}
      <li><a href="/auth/login">Iniciar Sesión</a></li>
      <li><a href="/auth/signup">Registrarse</a></li>
      {{/unless}}
      <li><a href="/map">Mapa de avistamientos</a></li>
      {{!-- <li><a href="/animal-list">Animales avistados</a></li> --}}
      <li><a href="/post-list">Foro</a></li>
    </ul>





    <div>
      {{#if user}}
      <a href="/profile">Ir a perfil: {{user.username}}</a> &nbsp; <a>|</a> &nbsp; <a href="/auth/logout">Cerrar
        Sesión</a> {{user.role}}</span> <img class="user-picture" src="{{user.picture.url}}" alt="" srcset="">
    </div>
    {{!-- <a href="/create-post">
      <button>Create New Post A mover donde los post</button>
    </a> --}}
    {{/if}}
  </nav>

  {{{body}}}

</body>

</html>