<a href="/create-comment">
    <button>Create Comment</button>
</a>
{{#if youAreTheOwnerOfThisPost}}
<a href="/edit-post/{{this._id}}">
    <button>Edit my post</button>
</a>
<form action="/edit-post/{{this.id}}/delete" method="POST">

    <button onclick="Submit">Delete</button>
</form>



{{/if}}
<div class="post-collection">
    <h2>Posts del foro</h2>
    <div class="post-preview">
        <ul>
            <li>{{title}}</li>
            <li>{{content}}</li>
            <li><img src="{{postImg}}" alt=""></li>
           
            <li>
                <ul>
                   {{#each comments}} 
                    <li>{{this.authorId.username}} {{this.content}}</li>
                   {{/each}} 
                </ul>
            </li>
        </ul>
    </div>
</div>

{{!-- <a href="/edit-post/{{this._id}}">
    <button>Edit my post</button>
</a> --}}
</section>