
<form action="/post-detail" method="POST" id="form-container">


    <button>Create Comment</button>
</form>




{{#if youAreTheOwnerOfThisPost}}
<a href="/edit-post/{{this._id}}">
    <button>Edit my post</button>
</a>
{{/if}}
<div><ul>
  <li>{{title}}</li>
  <li>{{content}}</li>
  <li><img src="{{postImg}}" alt=""></li>
</ul>

</div>

<a href="/edit-post/{{this._id}}">
    <button>Edit my post</button>
</a>