<section class="container">


    <div class="post-details-view flexbox-row">
        {{#if youAreTheOwnerOfThisPost}}
        <a href="/edit-post/{{this._id}}">
            <button>Edit my post</button>
        </a>

            <button onclick="deletePost('{{this.id}}')">Delete</button>
        {{/if}}
    </div>
    <div class="post-details-view">
        <div class="post-details-content">
            <h1>{{title}}</h1>
            <div><img src="{{postImg}}" alt=""></div>
            <p>{{content}}</p>


        </div>
    </div>



    <div> 
        <div>
            <a href="/create-comment/{{_id}} " >
                <button class="btn-confirm">Create Comment</button>
            </a>
        </div>
        {{#each comments}}
        <div>
            <ul class="comment-details , comment-details-view">
                <li>{{this.authorId.username}}
                    <br>{{this.content}}</li>
            </ul>
        </div>
        {{/each}}
    </div>

</section>

<script>
    function deletePost(id){
        axios
            .delete("/deletePost/" + id)
            .then(deletedPost => {
                location.href = "/post-list"
            })
    } 
</script>