<div class="auth-wrapper">

  <h2>Bienvenido a tu página de perfil, {{user.username}}</h2>

  <div class="flexbox-row space">
    <div class="flexbox-row change-picture">
      <div class="flexbox-column">
        <p>Tu foto de perfil:</p>
        <img class="user-profile-pic" src="{{user.picture.url}} " alt="" srcset="">
      </div>

      <form action="/profile-edit/{{user._id}}" method="POST" id="form-container" enctype="multipart/form-data">


        <div class="flexbox-column">
          <div class="auth-wrapper-label"><label for="password">Cambiar foto de perfil <br>(puede ser de frente)</label>
          </div>
          <input type="file" name="image">

          <button class="btn-confirm" type='submit'>Cambiar foto</button>
        </div>
      </form>
    </div>
    <div>

      <p>Número de mensajes en el foro: {{user.postNum}} </p>

      <p>Gracias a tus aportes has alcanzado el nivel: {{user.skill}}</p>
    </div>

  </div>

</div>