<div class="auth-wrapper">

  <h2>Bienvenido a tu página de perfil, {{user.username}}</h2>

  <div class="flexbox-row space">
    <div class="flexbox-row change-picture">
      <div class="flexbox-column">
        <p>Tu foto de perfil:</p>
        <img class="user-profile-pic" src="{{user.picture.url}} " alt="" srcset="">
      </div>

      <form action="/profile-edit/{{user._id}}" method="POST" id="form-container" enctype="multipart/form-data">

        <div class="flexbox-row">
          <div class="auth-wrapper-label"><label for="password">Cambiar foto de perfil <br>(puede ser de frente)</label>
          </div>
          <input type="file" name="image">

        </div>
        <hr>
        <div>
          <p>Cambiar contraseña:</p>
        </div>

        <div class="flexbox-row">
          <div class="auth-wrapper-label"><label for="password-old">Contraseña antigua<br>(no barbuda)</label></div>
          <input type="password" name="password-old" placeholder="old password">
        </div>
        <div class="flexbox-row">
          <div class="auth-wrapper-label"><label for="password-new">Contraseña nueva</label></div>
          <input type="password" name="password-new" placeholder="new password">
        </div>
        <div class="flexbox-row">
          <div class="auth-wrapper-label"><label for="password-repeat-new">Repetir contraseña nueva</label></div>
          <input type="password" name="password-repeat-new" placeholder="repeat new password">
        </div>


        <button class="btn-confirm" type='submit'>Cambiar datos</button>

      </form>
    </div>
    <div>

      <p>Número de mensajes en el foro: {{user.postNum}} </p>

      <p>Gracias a tus aportes has alcanzado el nivel: {{user.skill}}</p>
    </div>

  </div>

</div>